@font-face {
    font-family: 'social';
    src: url("./fonts/social.ttf?sz3bk2") format("truetype"), url("./fonts/social.woff?sz3bk2") format("woff"), url("./fonts/social.svg?sz3bk2#social") format("svg");
    font-weight: normal;
    font-style: normal;
}


/* line 11, icons.scss */

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'social' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


/* line 26, icons.scss */

.icon-chat:before {
    content: "\e0b7";
}


/* line 29, icons.scss */

.icon-done:before {
    content: "\e5ca";
}


/* line 32, icons.scss */

.icon-close:before {
    content: "\e5cd";
}


/* line 35, icons.scss */

.icon-ham:before {
    content: "\e3c7";
}


/* line 38, icons.scss */

.icon-dropdown:before {
    content: "\e313";
}


/* line 41, icons.scss */

.icon-mail:before {
    content: "\e0e1";
}


/* line 44, icons.scss */

.icon-download:before {
    content: "\e258";
}


/* line 47, icons.scss */

.icon-google-plus:before {
    content: "\ea8d";
}


/* line 50, icons.scss */

.icon-facebook:before {
    content: "\ea91";
}


/* line 53, icons.scss */

.icon-instagram:before {
    content: "\ea92";
}


/* line 56, icons.scss */

.icon-twitter:before {
    content: "\ea96";
}


/* line 59, icons.scss */

.icon-github:before {
    content: "\eab0";
}


/* line 62, icons.scss */

.icon-linkedin:before {
    content: "\eaca";
}

.icon-group {
    margin: 10px auto;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

.icon-group a {
    text-decoration: none;
    color: #F0F8FF;
    font-size: 2em;
    margin: 10px;
}

.icon-group a:visited {
    color: #F0F8FF
}

.icon-group a:hover {
    color: #1fa3ff;
}